xml/rutas_XMLSchema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rutas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ruta" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre_ruta" type="xs:string"/>
              <xs:element name="tipo_ruta" type="xs:string"/>
              <xs:element name="transporte" type="xs:string"/>
              <xs:element name="fecha_inicio" type="xs:string" minOccurs="0"/>
              <xs:element name="hora_inicio" type="xs:string" minOccurs="0"/>
              <xs:element name="duracion" type="xs:string"/>
              <xs:element name="agencia" type="xs:string"/>
              <xs:element name="descripcion" type="xs:string"/>
              <xs:element name="personas_adecuadas" type="xs:string"/>
              <xs:element name="lugar_inicio" type="xs:string"/>
              <xs:element name="direccion_inicio" type="xs:string"/>
              <xs:element name="coordenadas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="longitud" type="xs:string"/>
                    <xs:element name="latitud" type="xs:string"/>
                    <xs:element name="altitud" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="referencias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referencia" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="recomendacion" type="xs:string"/>
              <xs:element name="hitos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hito" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nombre_hito" type="xs:string"/>
                          <xs:element name="descripcion_hito" type="xs:string"/>
                          <xs:element name="coordenadas_hito">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="longitud" type="xs:string"/>
                                <xs:element name="latitud" type="xs:string"/>
                                <xs:element name="altitud" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="distancia_hito">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="distancia" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="galeria_fotos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="foto" type="xs:string" minOccurs="0" maxOccurs="5"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="galeria_videos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="video" type="xs:string" minOccurs="0" maxOccurs="3"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="planimetria" type="xs:string"/>
              <xs:element name="altimetria" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
